Skills(skills: [
  Skill(
    name: "animal husbandry",
    page: 255,
    root: Single(Will),
    skill_type: Peasant,
    tools: Yes,
  ),

  Skill(
    name: "beer appraisal",
    page: 259,
    root: Pair(Will, Perception),
    forks: ["grain appraisal", "nogger"],
    skill_type: Craftsman,
    tools: No,
    restrictions: [CB(Dwarves)],
  ),

  Skill(
    name: "brewer",
    page: 262,
    root: Single(Perception),
    forks: ["miller"],
    skill_type: Craftsman,
    tools: Workshop,
  ),

  Skill(
    name: "coarse persuasion",
    page: 264,
    root: Single(Perception),
    skill_type: Academic,
    tools: No,
    restrictions: [CB(Dwarves)],
  ),

  Skill(
    name: "climbing",
    page: 264,
    root: Single(Speed),
    forks: ["knots", "rigging"],
    skill_type: Physical,
    tools: Expendable,
  ),

  Skill(
    name: "engineering",
    page: 270,
    root: Single(Perception),
    forks: ["architect", "mason", "carpenter"],
    skill_type: Artisan,
    tools: Yes,
  ),

  Skill(
    name: "excavation",
    page: 271,
    magical: true,
    root: Pair(Perception, Power),
    forks: ["mining", "prospecting", "engineering"],
    skill_type: Craftsman,
    tools: Yes,
    restrictions: [Only(Dwarves)],
  ),

  Skill(
    name: "farming",
    page: 272,
    root: Single(Perception),
    skill_type: Peasant,
    tools: Yes,
  ),

  Skill(
    name: "fence building",
    page: 272,
    root: Single(Perception),
    forks: ["chronology of kings", "mason", "accounting", "carpenter"],
    skill_type: Special,
    tools: Expendable,
    restrictions: [CB(Dwarves)],
  ),

  Skill(
    name: "grain appraisal",
    page: 276,
    root: Single(Perception),
    forks: ["nogger"],
    skill_type: Craftsman,
    tools: No,
    restrictions: [CB(Dwarves)],
  ),

  Skill(
    name: "haggling",
    page: 276,
    root: Single(Will),
    forks: ["persuasion", "soothing platitudes"],
    skill_type: Social,
    tools: No,
  ),

  Skill(
    name: "mending",
    page: 283,
    root: Pair(Perception, Agility),
    forks: ["any appropriate craftsman skill could suffice"],
    skill_type: Craftsman,
    tools: Expendable,
  ),

  Skill(
    name: "miller",
    page: 284,
    root: Single(Perception),
    forks: ["brewer"],
    skill_type: Peasant,
    tools: Workshop,
  ),

  Skill(
    name: "nogger",
    page: 284,
    root: Pair(Will, Perception),
    magical: true,
    forks: ["grain appraisal"],
    skill_type: Craftsman,
    tools: Workshop,
    restrictions: [Only(Dwarves)],
  ),

  Skill(
    name: "scavenging",
    page: 294,
    root: Single(Perception),
    forks: ["foraging", "appropriate wises"],
    skill_type: Peasant,
    tools: No,
  ),

  Skill(
    name: "soothing platitudes",
    page: 299,
    root: Single(Will),
    forks: ["persuasion", "falsehood"],
    skill_type: Social,
    tools: No,
  ),

  Skill(
    name: "stuff-wise",
    page: 302,
    root: Single(Perception),
    forks: ["dwarf-wise", "scavenging"],
    skill_type: Special,
    tools: No,
    restrictions: [CB(Dwarves)],
  ),

  Skill(
    name: "tunnel-wise",
    page: 306,
    root: Single(Perception),
    forks: ["excavation", "mining"],
    skill_type: Special,
    tools: No,
  ),

  Skill(
    name: "ugly truth",
    page: 306,
    root: Single(Perception),
    forks: ["falsehood", "intimidation"],
    skill_type: Social,
    tools: No,
  )
])