Skills(skills: [
  Skill(
    name: "animal husbandry",
    page: 255,
    root: Single(Will),
    skill_type: Peasant,
    tools: Yes,
  ),

  Skill(
    name: "beer appraisal",
    page: 259,
    root: Pair(Will, Perception),
    skill_type: Craftsman,
    tools: No,
    restrictions: Only(Dwarves, CharBurning),
  ),

  Skill(
    name: "brewer",
    page: 262,
    root: Single(Perception),
    skill_type: Craftsman,
    tools: Workshop,
  ),

  Skill(
    name: "coarse persuasion",
    page: 264,
    root: Single(Perception),
    skill_type: Academic,
    tools: No,
    restrictions: Only(Dwarves, CharBurning),
  ),

  Skill(
    name: "climbing",
    page: 264,
    root: Single(Speed),
    skill_type: Physical,
    tools: Expendable,
  ),

  Skill(
    name: "engineering",
    page: 270,
    root: Single(Perception),
    skill_type: Artisan,
    tools: Yes,
  ),

  Skill(
    name: "excavation",
    page: 271,
    magical: true,
    root: Pair(Perception, Power),
    skill_type: Craftsman,
    tools: Yes,
    restrictions: Only(Dwarves),
  ),

  Skill(
    name: "farming",
    page: 272,
    root: Single(Perception),
    skill_type: Peasant,
    tools: Yes,
  ),

  Skill(
    name: "fence building",
    page: 272,
    root: Single(Perception),
    skill_type: Special,
    tools: Expendable,
    restrictions: Only(Dwarves, CharBurning),
  ),

  Skill(
    name: "grain appraisal",
    page: 276,
    root: Single(Perception),
    skill_type: Craftsman,
    tools: No,
    restrictions: Only(Dwarves, CharBurning),
  ),

  Skill(
    name: "haggling",
    page: 276,
    root: Single(Will),
    skill_type: Social,
    tools: No,
  ),

  Skill(
    name: "history",
    page: 277,
    root: Single(Perception),
    skill_type: Academic,
    tools: No,
  ),

  Skill(
    name: "mending",
    page: 283,
    root: Pair(Perception, Agility),
    skill_type: Craftsman,
    tools: Expendable,
  ),

  Skill(
    name: "miller",
    page: 284,
    root: Single(Perception),
    skill_type: Peasant,
    tools: Workshop,
  ),

  Skill(
    name: "nogger",
    page: 284,
    root: Pair(Will, Perception),
    magical: true,
    skill_type: Craftsman,
    tools: Workshop,
    restrictions: Only(Dwarves),
  ),

  Skill(
    name: "scavenging",
    page: 294,
    root: Single(Perception),
    skill_type: Peasant,
    tools: No,
  ),

  Skill(
    name: "soothing platitudes",
    page: 299,
    root: Single(Will),
    skill_type: Social,
    tools: No,
  ),

  Skill(
    name: "stuff-wise",
    page: 302,
    root: Single(Perception),
    skill_type: Special,
    tools: No,
    restrictions: Only(Dwarves, CharBurning),
  ),

  Skill(
    name: "tunnel-wise",
    page: 306,
    root: Single(Perception),
    skill_type: Special,
    tools: No,
  ),

  Skill(
    name: "ugly truth",
    page: 306,
    root: Single(Perception),
    skill_type: Social,
    tools: No,
  ),

  Skill(
    name: "wises",
    page: 309,
    root: Single(Perception),
    skill_type: Special,
    tools: No,
  ),
])