#![enable(unwrap_newtypes)]
#![enable(implicit_some)]

Traits(traits: [
  Die(
    name: "affinity for sheep and goats",
    page: 311,
    cost: 4,
  ),

  CallOn(
    name: "booming voice",
    page: 316,
    cost: 2,
  ),

  Die(
    name: "deep sense",
    page: 321,
  ),

  CallOn(
    name: "dispute-settler",
    page: 321,
  ),

  Die(
    name: "oathswearer",
    page: 338,
  ),

  CallOn(
    name: "tinkerer",
    page: 350,
  ),

])