#![enable(unwrap_newtypes)]
#![enable(implicit_some)]

LifepathSetting(
  name: "clansman",
  page: 110,
  lifepaths: [
    Lifepath(
      name: "born clansman",
      page: 110,
      years: 20,
      res: 10,
      leads: ["guilder"],
      gen_skill_pts: 3,
      skill_pts: 0,
      trait_pts: 1,
    ),

    Lifepath(
      name: "tender",
      page: 110,
      years: 20,
      res: 7,
      stat_mod: Physical(1),
      leads: ["guilder", "host"],
      skill_pts: 5,
      trait_pts: 2,
      skills: ["farming", "crop-wise", "hills-wise"],
      traits: ["cursing"]
    ),

    Lifepath(
      name: "herder",
      page: 110,
      years: 15,
      res: 9,
      stat_mod: Physical(1),
      leads: ["guilder", "host"],
      skill_pts: 5,
      trait_pts: 2,
      skills: ["animal husbandry", "flock-wise", "fence building", "climbing"],
      traits: ["booming voice", "affinity for sheep and goats"]
    ),

    Lifepath(
      name: "tinkerer",
      page: 110,
      years: 35,
      res: 15,
      stat_mod: Mental(1),
      leads: ["guilder", "outcast"],
      skill_pts: 4,
      trait_pts: 2,
      skills: ["stuff-wise", "mending", "scavenging"],
      traits: ["curious", "tinkerer"],
    ),

    Lifepath(
      name: "delver",
      page: 110,
      years: 20,
      res: 10,
      stat_mod: Physical(1),
      leads: ["guilder", "host"],
      skill_pts: 4,
      trait_pts: 1,
      skills: ["tunnel-wise", "gas pocket-wise", "excavation"],
      traits: ["deep sense"],
    ),

    Lifepath(
      name: "miller",
      page: 110,
      years: 30,
      res: 30,
      stat_mod: Mental(1),
      leads: ["guilder", "host"],
      skill_pts: 6,
      trait_pts: 1,
      skills: ["grain appraisal", "miller", "mending", "brewer", "grain-wise"],
      traits: [],
    ),

    Lifepath(
      name: "brewer",
      page: 110,
      years: 40,
      res: 40,
      stat_mod: Physical(1),
      leads: ["guilder", "host", "outcast"],
      skill_pts: 5,
      trait_pts: 1,
      skills: ["beer appraisal", "nogger", "miller", "beer-wise"],
      traits: [],
    ),

    Lifepath(
      name: "foreman",
      page: 110,
      years: 35,
      res: 25,
      stat_mod: Physical(1),
      leads: ["guilder", "host", "artificer"],
      skill_pts: 5,
      trait_pts: 1,
      skills: ["ore-wise", "vein-wise", "engineering"],
      traits: [],
    ),

    Lifepath(
      name: "husband/wife",
      page: 110,
      years: 70,
      res: 18,
      stat_mod: Mental(1),
      leads: ["guilder", "host", "outcast"],
      skill_pts: 5,
      trait_pts: 2,
      skills: ["clan-wise", "family-wise", "haggling", "soothing platitudes"],
      traits: ["dispute-settler", "pragmatic outlook"],
    ),

    Lifepath(
      name: "longbeard",
      page: 111,
      years: 77,
      res: 30,
      stat_mod: Mental(1),
      leads: ["host", "outcast"],
      skill_pts: 6,
      trait_pts: 2,
      skills: ["coarse persuasion", "ugly truth", "guilder-wise", "host-wise"],
      traits: ["folksy wisdom", "oathswearer"],
    ),

  ]
)