#![enable(unwrap_newtypes)]
#![enable(implicit_some)]

LifepathSetting(
  name: "clansman",
  page: 110,
  lifepaths: [
    Lifepath(
      name: "born clansman",
      page: 110,
      years: 20,
      res: 10,
      general_skill_pts: 3,
      skill_pts: 0,
      trait_pts: 1,
      leads: [Guilder]
    ),

    Lifepath(
      name: "tender",
      page: 110,
      years: 20,
      res: 7,
      stat_mod: Physical(1),
      leads: [Guilder, Host],
      skill_pts: 5,
      trait_pts: 2,
      skills: ["farming", "crop-wise", "hills-wise"],
      traits: ["cursing"]
    )
  ]
)